.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}
.bu{
    cursor: pointer;
    position: absolute;
    bottom: -15px;
    border-radius: 22px;
    background-color: #5386c5;
    width: 170px;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: center;
    color: #ffffff;
    height: 40px;
}